body {
  margin: 0;
}

img:hover {
  transform: scale(1.2);
}

.overlay-first,
.overlay-second,
.overlay-third {
  position: absolute;
  width: 93px;
  height: 95px;
  top: 78px;
  right: 185px;
  transition: 1s ease;
}

.overlay-second {
  top: 94px;
  right: 112px;
}

.overlay-third {
  top: 80px;
  right: 38px;
}

.custom-box {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}