body{
  margin: 0;
}

img:hover {
  transform: scale(1.2);
}

.overlay-first, .overlay-second, .overlay-third {
position: absolute;
width:100px;
height:90px;
top: 78px;
right: 191px;
transition: 1s ease;
}

.overlay-second {
top: 96px;
right: 115px;
}
.overlay-third {
top: 82px;
right: 40px;
}

.custom-box{
  padding-top: 10px;
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.hide-overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}